<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"> 
    <display-name> jsf_primerfaces </display-name> 
    <context-param> 
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name> 
        <param-value>server</param-value> 
    </context-param> 
    <context-param> 
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name> 
        <param-value>true</param-value> 
    </context-param> 
    <context-param> 
        <param-name>primefaces.THEME</param-name> 
        <param-value>bootstrap</param-value> 
    </context-param>
   
    <servlet> 
        <servlet-name>Faces Servlet</servlet-name> 
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class> 
        <load-on-startup>1</load-on-startup> 
    </servlet> 
    
    <servlet-mapping> 
        <servlet-name>Faces Servlet</servlet-name> 
        <url-pattern>*.jsf</url-pattern> 
    </servlet-mapping> 


<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:h="http://java.sun.com/jsf/html" 
 xmlns:p="http://primefaces.org/ui"> 
 
<h:head> 
</h:head> 
 
<h:body> 
<h:form> 
 <p:dataGrid var="p" value="#{productosBean.productos}" columns="2" rows="3" > 
 <p:column> 
 <p:panel header="#{p.nombre}"> 
 <h:panelGrid columns="1"> 
 <h:outputText value="#{p.descripcion}" style="color: 
blue;"/> 
 <h:outputText value="#{p.precio}" style="color: blue;"/> 
 </h:panelGrid> 
 </p:panel> 
 </p:column> 
 </p:dataGrid> 
</h:form> 
</h:body> 
</html> 


</web-app>
